<!doctype html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css%22%3E
        <style type="text/css">
            body{ font: 14px sans-serif; text-align: center; }
        </style>
    </head>
    <body>
        <div class="page-header">
            <h6>Dear, ord.patient.first_name:

                <br>
    Just a quick reminder that you are scheduled for a visit to examine group on order.appointment.
                <br>

     See you soon!
                <br>


    Best,

    Examine group</h6>
    </div>
    </body>
    </html>
